<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <form action="/register" method="post">
            <input type="text" name="name" id="">
            <input type="email" name="email" id="">
            <input type="password" name="password" id="">
            <select name="role" id="">
                <option value="user">User</option>
                <option value="admin">Admin</option>
            </select>
            <input type="submit" value="Register">
        </form>
        <a href="">Go to Login</a>
    </div>
</body>
</html>
